<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WOC 7014 Lab 1</title>
</head>
<body>
    <h1>WOC 7014 Lab 1</h1>
    <h2>Name: Lee Xing Yii
        <br>
        Matric Number: 23072493
    </h2>
    <p>
        Question 1: <a href="/lunch">Answer</a>
        Question 2: <a href="/pattern">Answer</a>
        Question 3: <a href="/cgp">Answer</a>
    </p>

    
</body>
</html>